@keyframes carouselMove {
  from {
    transform: none;
  }
  to {
    transform: translate(-210px, 0);
  }
}

@keyframes carouselMoveDesktop {
  from {
    transform: none;
  }
  to {
    transform: translate(-420px, 0);
  }
}

@keyframes carouselMoveRight {
  from {
    transform: none;
  }
  to {
    transform: translate(210px, 0);
  }
}

@keyframes carouselMoveRightDesktop {
  from {
    transform: none;
  }
  to {
    transform: translate(420px, 0);
  }
}

@keyframes loaderSpinn {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

.ch-carousel {
  padding: 6rem 2rem;

  &__title {
    font-size: 2.5rem;
    color: $alert-color;
    margin-bottom: 2rem;
  }

  &__container {
    width: 100%;
    overflow: hidden;
  }

  &__loader {
    padding: 6rem 2rem;
    display: flex;
    justify-content: center;

    i {
      font-size: 4rem;
      animation: loaderSpinn linear 1s infinite;
    }
  }

  &__wrapper {
    display: flex;
    gap: 2rem;
    animation: carouselMove linear 2s infinite;

    &.right {
      animation: carouselMoveRight linear 2s infinite;
      justify-content: right;
    }

    .character {
      max-width: 190px;
      background-color: $section-color;
      border-radius: 1rem;
      padding: 2rem;

      &:nth-of-type(2) {
        z-index: 5;
      }

      &__img {
        width: 150px;
        img {
          border-radius: 0.5rem;
          width: 100%;
        }
      }
      &__info {
        overflow: hidden;
        padding-top: 2rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        h3 {
          color: $alert-color;
          font-size: 2.2rem;
          max-height: 52px;
          overflow: hidden;
        }
      }
      @media screen and (min-width: 768px) {
        display: flex;
        max-width: 400px;
        gap: 2rem;
        .character__img {
          height: 150px;
          img {
            width: auto;
            height: 100%;
          }
        }
        .character__info {
          padding: 0;
          width: 190px;
        }
      }
    }
    @media screen and (min-width: 768px) {
      animation: carouselMoveDesktop linear 3.5s infinite;
      &.right {
        animation: carouselMoveRightDesktop linear 3.5s infinite;
      }
    }
  }
}
