.header {
  height: 8rem;
  padding: 0 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: center;
  // background: $foreground;

  &__logo {
    width: 6.8rem;
    height: 6.8rem;
    display: block;
  }
}
