.Page-buttons {
  width: 100%;
  display: flex;
  gap: 1rem;
  justify-content: center;

  button {
    border: none;
    height: 4rem;
    width: 3rem;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    font-weight: bold;
    background: $alert-color;
    box-shadow: 0px 0px 5px 2.5px $section-color;

    &:active {
      background: rgba($alert-color, 0.5);
    }

    &.Disable {
      background: rgba($alert-color, 0.5);
    }
  }

  &__list {
    display: flex;
    gap: 0.5rem;
  }
}
