.character {
  background-color: $primary-color;
  color: $light-color;
  border-radius: 1rem;
  overflow: hidden;
  display: flex;
  width: 100%;
  min-width: 280px;
  max-width: 300px;
  height: 140px;

  &-picture {
    height: inherit;
    img {
      height: 100%;
    }
  }

  &-container {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
  }

  &-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    &__title {
      font-size: 1.6rem;
    }

    &__prg {
      font-size: 1.4rem;

      .status {
        display: inline-block;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        margin: 0 0 1px 5px;
      }
      .red {
        background-color: red;
      }
      .green {
        background-color: green;
      }
      .gray {
        background-color: gray;
      }
    }
  }

  &-link {
    padding: 1rem;
    font-size: 1.4rem;
    border: 1px solid $light-color;
    border-radius: 1rem;
    text-align: center;
  }
}
