.character-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: inherit;
}

.card-container {
  min-height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4rem 2rem;
}
