.header {
  width: 100%;
  background-color: $primary-color;
  padding: 0.75rem 2rem;
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 2rem;
  color: $light-color;

  .logo {
    height: 100%;

    &-link {
      display: inline-block;
      height: 100%;
    }

    &-container {
      height: 100%;
      &__image {
        height: 100%;
      }
    }
  }

  .search {
    &-label {
      .icon {
        display: inline-block;
        background-color: $tertiary-color;
        border-radius: 50%;
        padding: 1rem;
      }
    }
  }
}
