.searcher {
  padding: 5rem 4rem;
  width: 100%;

  &-container {
    display: flex;
    position: relative;
    width: 100%;
    max-width: 425px;
    margin: 0 auto;
  }

  &__input {
    outline: none;
    background-color: $light-color;
    padding: 0 1.75rem;
    display: block;
    width: 100%;
    height: 3.5rem;
    border-radius: 1.75rem;
    border: none;
  }

  &__button {
    outline: none;
    position: absolute;
    color: $tertiary-color;
    right: 0;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 1.75rem;
    font-size: 1.6rem;
    border: none;
  }
}
