@keyframes icon-spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Loader {
  display: flex;
  min-height: calc(100vh - 16.5rem);
  justify-content: center;
  align-items: center;

  &__icon {
    animation: icon-spinner infinite 2s linear;
    font-size: 4rem;
  }
}
