@import "./components/Globals.scss";
@import "./components/Icons.scss";
@import "./components/Header.scss";
@import "./components/Footer.scss";

@import "./components/Layout.scss";
@import "./components/Home.scss";
@import "./components/Searcher.scss";
@import "./components/Characters.scss";
@import "./components/CharacterItem.scss";
@import "./components/PagesButtons.scss";
@import "./components/NavButton.scss";
@import "./components/Loading.scss";
